.aspectContent {
    color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    font-size: larger;
}