body {
    background-color: black;
}

.content {
    width: 100%;
    height: 100%;
}

.firstSection {
    width: 100%;
    height: calc(100vh - 90px);;
    background-color: black;
    display: flex;
    overflow: hidden;
}

.firstSection .text {
    width: 55%;
    height: 100%;
    color: white;
}

.firstSection .text .title {
    font-size: 60px;
    margin-top: 18%;
    margin-left: 15%;
    width: 70%;
    text-align: left;
    font-family: 'Greycliff CF', sans-serif;
}

.firstSection .text .description {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 15%;
    color: #727272;
    width: 70%;
    text-align: left;
}

.firstSection .text .title span {
    font-weight: bold;
    color: #137547;
}

.firstSection .input {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.firstSection .input Button {
    width: 180px;
    margin-top: 20px;
    margin-left: 15%;
}

.firstSection .image {
    width: 45%;
    height: 100%;
    margin-left: -24%;
}

.firstSection .image img {
    margin-top: 60px;
    width: 180%;
}

.secondSection {
    width: 100%;
    height: 130vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}

.secondSection .title {
    margin-top: 20px;
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondSection .offers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.thirdSection {
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.thirdSection .title {
    margin-top: 7%;
    margin-left: 10%;
    font-size: 90px;
    font-family: 'Lexend', sans-serif;
    text-align: left;
    color: #72727272;
}

.thirdSection .content {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 15px;
    padding: 0;
}