.card {
    width: 70%;
    height: 30%;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.card .cardText {
    width: 60%;
    margin-right: 5%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .cardText h2 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 30px;
}

.card .cardImage {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .cardImage img {
    height: 160px;
    width: 290px;
}